<mat-card>
    <mat-card-title>Deletar Produto</mat-card-title>
    <form >
        <mat-form-field>
            <input type="text" matInput placeholder="Nome"
             [(ngModel)]="produto.name" name="name">
        </mat-form-field>
        
        <mat-form-field>
            <input type="number" matInput placeholder="Preço"
            [(ngModel)]="produto.price" name="price" >
        </mat-form-field>
    </form>
    <div class="posicaoBotoesForm" >
        <button mat-raised-button  color="primary" (click)="updateProduct()">
            Atualizar
        </button>
        
        <button mat-raised-button  class="buttonColor" (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>

