<mat-card>
    <mat-card-title>{{titulo}}</mat-card-title>
    <form >
        <mat-form-field>
            <input type="text" matInput placeholder="Nome"
            [(ngModel)]="produto.name" name="name" disabled="{{edicao}}">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="price"
            [(ngModel)]="produto.price"  name="price" disabled="{{edicao}}">
        </mat-form-field>
    </form>
    <div class="posicaoBotoesForm" >
        <button mat-raised-button color="{{botaoCor}}" (click)="actionsProduct()"  >
            {{botaoLabel}}
        </button>
        
        <button (click)="cancel()" mat-raised-button  class="buttonColor"  >
            Cancelar
        </button>
    </div>
</mat-card>


