a.link{
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: medium;
    text-align: center;
}

a.link:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}